@using Kupanga.Models.Repository
@model Kupanga.Models.Repository.SubmittedQuote

@{
    ViewBag.Title = "Confirm";
    SubmittedQuote quote = ((SubmittedQuote)Session["CurrentQuote"]);
}
<style>
    .center-pills {
        display: inline-block;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <img style="width:100%;height:200px;" src="~/Content/Images/C. Confirm/step3.png" alt="One Story Homes">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:center;background-color:grey;color:white;">Please Fill Out Your Information Below!</h2>
    </div>
</div>
<br />
@* For summary *@
<div class='row' style="margin-bottom: 16px; border: 1px solid lightgray; border-radius: 5px; padding: 10px">
    <div class='col-sm-2'><h4>Your Home</h4></div>
    <div class='col-sm-4'>
        <span><label>Home:</label> @quote.Home.HomeName</span>
        <br />
        <span><label>Doors:</label> @quote.Component.ComponentName</span>
        <br />
        <span><label>Windows:</label> @quote.Component1.ComponentName</span>
        <br />
        <span><label>Roofing:</label> @quote.Component3.ComponentName</span>
        <br />
        <span><label>Flooring:</label> @quote.Component2.ComponentName</span>
        <br />
    </div>
    <div>
        <h3>Estimated Cost:</h3>
        <br />
        @((quote.Home.BasePrice + (quote.Home.NumberOfDoors * quote.Component.ComponentPrice) + (quote.Home.Windows * quote.Component1.ComponentPrice) + (quote.Home.UnitsOfFlooring * quote.Component2.ComponentPrice) + (quote.Home.UnitsOfRoofing * quote.Component3.ComponentPrice)).ToString("C") )
    </div>
</div>
@using (Html.BeginForm())
{

    <div class='row' style="margin-bottom: 16px">
        <div class='col-sm-2'><h4>Name</h4></div>
        <div class='col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='text' name='contactFirstName' placeholder='First Name' maxlength='50' required />
        </div>
        <div class="col-sm-5">
            <input class='form-control' type='text' name='contactLastName' placeholder='Last Name' maxlength='50' required />
        </div>
    </div>
    <div class='row' style="margin-bottom: 16px">
        <div class='col-sm-2'><h4>Contact Info</h4></div>
        <div class='col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='tel' name='contactPhoneNumber' placeholder='Phone Number' maxlength='10' required />
        </div>
        <div class='col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='email' name='contactEmail' placeholder='Email' maxlength='200' required/>
        </div>
        <div class='col-md-offset-2 col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='text' name='contactStreetAddress' placeholder='Street Address' maxlength='200' required/>
        </div>
        <div class='col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='text' name='contactCity' placeholder='City' maxlength='200' required/>
        </div>
        <div class='col-sm-offset-2 col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='text' name='contactState' placeholder='State' maxlength='200' required/>
        </div>
        <div class='col-sm-5'>
            <input style="margin-bottom: 16px" class='form-control' type='text' name='contactZip' placeholder='zip' maxlength='200' required/>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <p>@*<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Confirm &raquo;</a>*@</p>
        <button class="btn btn-primary" type="submit" name="submit">Confirm &raquo;</button>
    </div>
}

