
@{
	ViewBag.Title = "Customize";
}
<!-- Creates the bootstrap modal where the image will appear -->
<div class="container-fluid">
	<div class="modal fade" id="imgModal" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Image preview</h4>
				</div>
				<div class="modal-body">
					<div class="hidden-xs">
						<img src="" id="imgPreview" class="imgModalView">
					</div>
					<div class="visible-xs">
						<img src="" id="imgPreviewXs" class="imgModalViewXs">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Status</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-4">
							<p><b>Type</b></p>
						</div>
						<div class="col-xs-4">
							<p><b>Price</b></p>
						</div>
						<div class="col-xs-4">
							<p><b>Material</b></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>Door</p>
						</div>
						<div class="col-xs-4">
							<p>$100</p>
						</div>
						<div class="col-xs-4">
							<p>Oak</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>Window</p>
						</div>
						<div class="col-xs-4">
							<p>$200</p>
						</div>
						<div class="col-xs-4">
							<p>Square</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>Roof</p>
						</div>
						<div class="col-xs-4">
							<p>$3000</p>
						</div>
						<div class="col-xs-4">
							<p>Metal</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>Floor</p>
						</div>
						<div class="col-xs-4">
							<p>$100</p>
						</div>
						<div class="col-xs-4">
							<p>Tile</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hidden-xs">
	<div class="row">
		<div class="col-xs-12">
			<img class="formatImg" src="~/Content/Images/B. Customize/step2.png" alt="One Story Homes">
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12">
			<h2 class="pillHeader">Choose From One of The Categories Below!</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<button type="button" class="btn btn-info pull-left" data-toggle="modal" data-target="#myModal">Status <span class="badge ">!</span></button>
			<ul class="nav nav-pills center-pills">
				<li class="active">@Html.ActionLink("Doors", "Doors", "Home")</li>
				<li>@Html.ActionLink("Windows", "Windows", "Home")</li>
				<li>@Html.ActionLink("Roof", "Roof", "Home")</li>
				<li>@Html.ActionLink("Flooring", "Flooring", "Home")</li>
			</ul>
			<a class="btn btn-primary pull-right" href="@Url.Action("Confirm", "Home")">Continue &raquo;</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Oak <span class="pull-right">$100&nbsp;</span></h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="1"><img id="imgSource1" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door1.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label1" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="1"><span id="span1" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 2</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="2"><img id="imgSource2" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door2.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label2" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="2"><span id="span2" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 3</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="3"><img id="imgSource3" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door3.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label3" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="3"><span id="span3" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 4</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="4"><img id="imgSource4" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door4.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label4" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="4"><span id="span4" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Oak <span class="pull-right">$100&nbsp;</span></h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="5"><img id="imgSource5" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door1.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label5" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="5"><span id="span5" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 2</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="6"><img id="imgSource6" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door2.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label6" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="6"><span id="span6" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 3</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="7"><img id="imgSource7" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door3.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label7" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="7"><span id="span7" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 4</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="8"><img id="imgSource8" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door4.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="label8" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="8"><span id="span8" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="visible-xs">
	<div class="row">
		<div class="col-xs-12">
			<img class="formatImg" src="~/Content/Images/B. Customize/step2xs.png" alt="One Story Homes">
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12">
			<h2 class="pillHeader">Choose From One of The Categories Below!</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<ul class="nav nav-pills center-pills">
				<li class="active">@Html.ActionLink("Doors", "Doors", "Home")</li>
				<li>@Html.ActionLink("Windows", "Windows", "Home")</li>
				<li>@Html.ActionLink("Roof", "Roof", "Home")</li>
				<li>@Html.ActionLink("Flooring", "Flooring", "Home")</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center">
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Status <span class="badge">!</span></button>
		</div>
		<div class="col-xs-6 text-center">
			<a class="btn btn-primary" href="@Url.Action("Confirm", "Home")">Continue &raquo;</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Oak <span class="pull-right">$100&nbsp;</span></h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="1"><img id="imgSourceXs1" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door1.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel1" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="1"><span id="xsSpan1" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 2</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="2"><img id="imgSourceXs2" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door2.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel2" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="2"><span id="xsSpan2" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 3</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="3"><img id="imgSourceXs3" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door3.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel3" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="3"><span id="xsSpan3" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 4</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="4"><img id="imgSourceXs4" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door4.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel4" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="4"><span id="xsSpan4" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Oak <span class="pull-right">$100&nbsp;</span></h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="5"><img id="imgSourceXs5" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door1.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel5" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="5"><span id="xsSpan5" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 2</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="6"><img id="imgSourceXs6" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door2.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel6" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="6"><span id="xsSpan6" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 3</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="7"><img id="imgSourceXs7" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door3.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel7" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="7"><span id="xsSpan7" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="descriptionHeaderColor">
					<h2 class="descriptionHeader">Door 4</h2>
				</div>
				<label class="addPointer"><input class="imgClick" type="radio" name="imgSelectName" value="8"><img id="imgSourceXs8" class="card-img-top formatImg" src="~/Content/Images/B. Customize/Doors/door4.jpg" alt="Card image cap" /></label>
				<div class="card-body text-center">
					<br />
					<label id="xsLabel8" class="btn btn-primary resetLabel"><input class="buttonSelect" type="radio" name="buttonSelectName" value="8"><span id="xsSpan8" class="resetSpan">Select &raquo;</span></label>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/respond.js"></script>
<script>
	$('.buttonSelect').on('click', function () {
		var vbuttonSelect = $('input[name=buttonSelectName]:checked').val();
		// Make all buttons the same
		$('.resetSpan').html("Select &raquo;")
		$('.resetLabel').removeClass("btn-default").addClass("btn-primary");
		// Change the selected button for large screens
		$('#span' + vbuttonSelect).html("Selected &raquo;");
		$('#label' + vbuttonSelect).removeClass("btn-primary").addClass("btn-default");
		// Change the selected button on small screens
		$('#xsSpan' + vbuttonSelect).html("Selected &raquo;");
		$('#xsLabel' + vbuttonSelect).removeClass("btn-primary").addClass("btn-default");
	});
	$(".imgClick").on("click", function () {
		var vImgId = $('input[name=imgSelectName]:checked').val();
		// Assign image to modal
		$('#imgPreview').attr('src', $('#imgSource' + vImgId).attr('src'));
		$('#imgPreviewXs').attr('src', $('#imgSourceXs' + vImgId).attr('src'));
		// open modal
		$('#imgModal').modal('show');
		// So it doesn't scroll to top of page
		return false;
	});
</script>

