

@{
	ViewBag.Title = "RanchStyle";
}
<style>
	.center-pills {
		display: inline-block;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<img style="width:100%;height:200px;" src="~/Content/Images/A. Choose/step1.png" alt="One Story Homes">
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<h2 style="text-align:center;background-color:grey;color:white;">Choose From One of The Categories Below!</h2>
	</div>
</div>
<div class="col-md-12 text-center">
	<ul class="nav nav-pills center-pills">
		<li>@Html.ActionLink("One-Story Homes", "OneStory", "Home")</li>
		<li>@Html.ActionLink("Two-Story Homes", "TwoStory", "Home")</li>
		<li>@Html.ActionLink("Single-Family Homes", "SingleFamily", "Home")</li>
		<li class="active">@Html.ActionLink("Ranch Style Homes", "RanchStyle", "Home")</li>
	</ul>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 1</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 2</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 3</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 1</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 2</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">House 3</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/A. Choose/Homes/RanchStyle.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a></p>
			</div>
		</div>
	</div>
</div>
@*<div class="row text-center">
		<p><a class="btn btn-primary" href="@Url.Action("Customize", "Home")">Continue &raquo;</a></p>
	</div>*@