
@{
	ViewBag.Title = "Customize";
}
<style>
	.center-pills {
		display: inline-block;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<img style="width:100%;height:200px;" src="~/Content/Images/B. Customize/step2.png" alt="One Story Homes">
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<h2 style="text-align:center;background-color:grey;color:white;">Choose From One of The Categories Below!</h2>
	</div>
</div>
<div class="col-md-12 text-center">
	<ul class="nav nav-pills center-pills">
		<li>@Html.ActionLink("Doors", "Doors", "Home")</li>
		<li>@Html.ActionLink("Windows", "Windows", "Home")</li>
		<li class="active">@Html.ActionLink("Roof", "Roof", "Home")</li>
		<li>@Html.ActionLink("Flooring", "Flooring", "Home")</li>
	</ul>
</div>
<br />
<div class="row text-center">
	<p><a class="btn btn-primary" href="@Url.Action("Confirm", "Home")">Continue &raquo;</a></p>
</div>
@{
	var test = 27 % 3;
	@(test)
	int test2 = 8 / 3;
	@(test2)
}
<div class="row">
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 1</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof1.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material1">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 2</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof2.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material2">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 3</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material3">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 1</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof1.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material4">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 2</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof2.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material5">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 33rem;">
			<div style="background-color:gray;">
				<h2 style="color:white;padding-left:10px;">Roof 3</h2>
			</div>
			<img class="card-img-top" style="width: 33rem;height: 15em;" src="~/Content/Images/B. Customize/Roof/Roof3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p><button class="btn btn-primary Material6">Select This Material &raquo;</button></p>
			</div>
		</div>
	</div>
</div>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/respond.js"></script>
<script>
	$(".Material1").on('click', function () {
		$('.Material1').html('Selected');
	});
	$(".Material2").on('click', function () {
		$('.Material2').html('Selected');
	});
	$(".Material3").on('click', function () {
		$('.Material3').html('Selected');
	});
	$(".Material3").on('click', function () {
		$('.Material3').html('Selected');
	});
	$(".Material4").on('click', function () {
		$('.Material4').html('Selected');
	});
	$(".Material5").on('click', function () {
		$('.Material5').html('Selected');
	});
	$(".Material6").on('click', function () {
		$('.Material6').html('Selected');
	});
</script>

