@model Kupanga.Models.HomesViewModel

@{
    ViewBag.Title = "Single Family Homes";
}
<style>
    .center-pills {
        display: inline-block;
    }
</style>
<div class="container-fluid">
    <div class="modal fade" id="homeDetailsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="HomeDetailsContent"></div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <img style="width:100%;height:200px;" src="~/Content/Images/A. Choose/step1.png" alt="One Story Homes">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:center;background-color:grey;color:white;">Choose From One of The Categories Below!</h2>
    </div>
</div>
<div class="col-md-12 text-center">
    <ul class="nav nav-pills center-pills">
        <li>@Html.ActionLink("One-Story Homes", "OneStory", "Home")</li>
        <li>@Html.ActionLink("Two-Story Homes", "TwoStory", "Home")</li>
        <li class="active">@Html.ActionLink("Single-Family Homes", "SingleFamily", "Home")</li>
        <li>@Html.ActionLink("Ranch Style Homes", "RanchStyle", "Home")</li>
    </ul>
</div>
<div>
    @foreach (var home in Model.Homes)
    {
        string imgSrc;
        if (home.Image != null && home.Image.Length > 0)
        {
            var base64 = Convert.ToBase64String(home.Image);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        else
        {
            imgSrc = "/Content/Images/Error/NotFound.png";
        }
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div style="background-color:gray;">
                    <h2 style="color:white;padding-left:10px;">@home.HomeName</h2>
                </div>
                <div style="text-align:center;"><img class="card-img-top" style="height: 15em;" src="@(imgSrc)" alt="@home.HomeName"></div>
                <div class="card-body">
                    <p style="height: 3em; overflow:hidden" class="card-text">@home.HomeDescription</p>
                    <br />
                    <input class="btn btn-info" type="button" data-toggle="modal" data-target="#homeDetailsModal" onclick="viewHomeDetails(@home.HomeId)" value="Details" />
                    <a class="btn btn-primary" href="@Url.Action("Doors", "Home")">Select This Home &raquo;</a>
                </div>
            </div>
        </div>
    }

</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(function () {
        $('.toggle-floor').click(function (e) {
            e.preventDefault();
            $("#floor-image").attr('src', "/Content/Images/A. Choose/floorplan.png");
        });
    });
</script>

