@using Microsoft.AspNet.Identity;
@model Kupanga.Models.Repository.SubmittedQuote
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Quote for @Model.ContactFirstName @Model.ContactLastName</h4>
</div>
<div class="modal-body">

    <div>
        <dl class="dl-horizontal">
            <dt>
                Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactFirstName) @Html.DisplayFor(model => model.ContactLastName)
            </dd>

            <dt>
                Contact Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>

            <dt>
                Phone Number:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactPhoneNumber)
            </dd>

            <dt>
                Street Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactStreetAddress)
            </dd>

            <dt>
                Contact City:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactCity), @Html.DisplayFor(model => model.ContactState) @Html.DisplayFor(model => model.ContactZip)
            </dd>

            <dt>
                Quoted Home:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Home.HomeName)
            </dd>
            @if (Model.AspNetUser != null)
    {
        <dt>
            Handled By:
        </dt>
        <dd>

            <span>@Model.AspNetUser.UserName</span>
        </dd>
}

            <dt>
                Status:
            </dt>

            <dd>
                @{
                    @Model.Status1.StatusDescription
                }
            </dd>


            @* Home details *@
            <dt style="margin-top: 10px">
                Home:
            </dt>

            <dd style="margin-top: 10px">
                @{
                    @Model.Home.HomeName
                }
            </dd>
            <dt>
                Doors:
            </dt>

            <dd>
                @{
                    @Model.Component.ComponentName
                }
            </dd>
            <dt>
                Windows:
            </dt>

            <dd>
                @{
                    @Model.Component1.ComponentName
                }
            </dd>
            <dt>
                Roofing:
            </dt>

            <dd>
                @{
                    @Model.Component3.ComponentName
                }
            </dd>
            <dt>
                Flooring:
            </dt>

            <dd>
                @{
                    @Model.Component2.ComponentName
                }
            </dd>

        </dl>
    </div>
</div>
<div class="modal-footer">
    @if (Model.AspNetUser == null)
    {
        @Html.ActionLink("Handle", "HandleQuote", new { id = Model.QuoteId }, new { @class = "btn btn-default" })
    }
    @if (Model.Status == 2)
    {
        @Html.ActionLink("Mark as inactive", "ArchiveQuote", new { id = Model.QuoteId }, new { @class = "btn btn-default" })
    }
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
